# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
.venv/

# Archivos de PyCharm
.idea/

# Configuraciones del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de test coverage
htmlcov/
.coverage
.tox/

# Paquetes compilados
*.egg
*.egg-info/
dist/
build/

# Secretos o variables locales (si usas)
.env

